html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= Scraper
    link(rel='stylesheet', href='/static/style.css')
  body
    if (scraped)
      include info
    else 
      include hello
    #footer.footer
      p &copy; Madhav